.content_main {
  display: flex;
  gap: 24px;
  margin: 24px auto 24px auto;
  max-width: 1162px;
  width: 98%;
  align-content: flex-start;
  align-items: flex-start;
}
.content_main_left {
  max-width: 332px;
}
.content_main_people {
  max-width: 450px;
  border-radius: 24px 24px 24px 24px;
  padding: 16px;
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin: 0;
  min-height: 80%;
  align-content: flex-start;
}
.content_main_right {
  width: 332px;
  margin: 0;
}

.content_main_people .user_block {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
  border-radius: 24px 24px 24px 2px;
  padding: 12px 12px 16px 12px;
  box-shadow: 0px 4px 15px 0px #0000001a;
  align-items: flex-start;
}
